* {
  margin: 0;
  padding: 0;
}

body {
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  width: 100vw;
}

.title {
  margin-top: 50px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #DA8E00;
  background: -webkit-linear-gradient(-45deg, #F7DE05, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03, #DA8E00, #EDAC06, #F7DE05, #ECB802, #EDAC06);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub_title {
  margin-top: 5px;
  text-align: center;
  color: #242424;
  font-size: 0.8rem;
}

.counter {
  margin-top: 10px;
  text-align: center;
}

.container {
  width: 300px;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

.cleared {
  font-size: 1.5rem;
  width: 100vw;
  position: absolute;
  top: 500px;
  text-align: center;
  color: #ACB6E5;
  background: -webkit-linear-gradient(0deg, #ACB6E5, #86FDE8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 900;
}

.btn_area {
  width: 100vw;
  position: absolute;
  top: 580px;
  text-align: center;
}

.hidden {
  display: none;
}

.angel {
  background-image: url(./img/bodybuilder_woman_min.png);
  object-fit: cover;
}

.devil {
  background-image: url(./img/devil_suq_mini.png);
  object-fit: cover;
}

.reset_btn {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  border-radius: 20px;
  width: 200px;
  height: 40px;
  font-weight: bold;
  border-bottom: 5px solid #2a3fc5;
  transition: 0.3s;
  background-color: #5467eb;
}

.reset_btn:hover {
  border-bottom-width: 0;
  transform: translateY(5px);
}

.twitter_area {
  text-align: center;
}

.twitter_img {
  width: 150px;
  margin-top: 500px;
}